/* .main-container{
  background-color: white;
  display: flex;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 15%;
}

.label-container{
  display: grid;
  padding-left: 0.5rem;
}

.label-container span{
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
} */
